:root {
  --primary-color: #ffffff;
  --secondary-color: #eeeeee;
  --header-color: #e0e0e0;
  --border-color: #d1d1d1;
  --text-color: #333;
}

.card-informativo {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-informativo header {
  background-color: var(--header-color);
  padding: 12px 20px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: start;
}

.card-informativo h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.card-informativo ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.card-informativo li {
  color: var(--text-color);
  margin-bottom: 8px;
  font-size: 0.95rem;
}
