:root {
  --primary-color: #ffffff;
  --secondary-color: #eeeeee;
  --header-color: #e0e0e0;
  --border-color: #d1d1d1;
  --text-color: #333;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding-top: 2rem;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 2rem;
}

nav > ul > li > button {
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background: none;
}