.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
}

.avatar-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #000;
}

@media (max-width: 768px) {
  .page-header {
    padding: 70px 20px 10px 20px;
  }

  .title {
    font-size: 2.6rem;
    line-height: 1.1;
    max-width: 250px;
  }

  .avatar-img {
    width: 65px;
    height: 65px;
  }
}